{
  "presets": [
    "react",
    "flow",
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "ie >= 7"
          ]
        }
      }
    ]
  ],
  "retainLines": true,
  "plugins": [
    "transform-object-rest-spread",
    "transform-runtime",
    "react-hot-loader/babel"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}