{
  "extends": [
    "airbnb"
  ],
  "rules": {
    "linebreak-style": "off",
    "jsx-a11y/label-has-for": "off",
    "brace-style": [
      "error",
      "stroustrup"
    ],
    "max-len": [
      "error",
      {
        "code": 100,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "no-else-return": "off",
    "arrow-body-style": "off",
    "react/no-unused-prop-types": "off",
    "react/jsx-boolean-value": [
      "error",
      "always"
    ],
    "no-console": "off",
    "no-empty": "off",
    "no-multiple-empty-lines": "off"
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "plugins": [
    "react",
    "import"
  ],
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolver": {
      "webpack": {
        "config": "./config/webpack.js"
      }
    }
  }
}