
// -----------------
// Typography mixins
// -----------------


    // ---------- // ---------- // ---------- // ---------- // ---------- //


    @mixin typography--base ()
    {
        word-wrap: break-word; // prevent long words from breaking page layout
        hyphens: auto; // hyphenate broken words in browsers that support it
    }


    // ---------- // ---------- // ---------- // ---------- // ---------- //


    @mixin typography--heading ()
    {
        // use top/bottom padding rather than full line height to prevent line-wrapped headings
        // from having too much spacing between lines
        @include wrap-line-height (
            $wrap-line-height: $line-height--heading__wrap * 1em,
            $total-line-height: $line-height--heading * 1em
        );

        // disable automatic hyphenation for headings
        hyphens: manual;
    }


    // ---------- // ---------- // ---------- // ---------- // ---------- //