.c_print-view {
  width: 21cm;
  padding: 1cm;
  display: flex;
  flex-flow: row wrap;
  background-color: white;


  &__paragraph {
    margin-top: 0;
    font-size: 12px;
    flex: 1 100%;
  }


  &__list-item {
    font-size: 12px;
    list-style-type: none;

    &::before {
      content: "-    ";
    }
  }

  &__decorative-image {
    align-self: flex-end;
    margin: 10px auto; /* not needed unless you want centered */
  }

  &__main-title {
    margin-top: 0;
    font-style: $font-style--heading;
    font-size: $font-size--h1;
    font-family: $font-family--heading;
    font-weight: $font-weight--heading;
    text-align: center;
    //text-decoration: underline;
    flex: 1 100%;
    page-break-after: avoid;
  }

  &__section-title {
    margin-top: 0;
    font-size: 28px;
    flex: 1 100%;
    page-break-after: avoid;
  }

  &__subsection-title {
    margin-top: 0;
    flex: 1 100%;
    font-size: 24px;
    page-break-after: avoid;
  }

  &__subsubsection-title {
    margin-top: 0;
    flex: 1 100%;
    font-size: 12px;
    font-weight: bold;
    page-break-after: avoid;
  }

  figure img {
    padding-left: 0;
  }

  &__illustrative-image-and-text {
    padding-left: 0;
    text-align: center;
    //display: table;
    flex-basis: 20%;
    flex-grow: 1;
    //min-width: 30%; /* demo; set some amount (px or %) if you can */
    flex-shrink: 1/3;
    //margin: 10px auto; /* not needed unless you want centered */
  }

  &__illustrative-image-text-only {
    text-align: center;
    flex-basis: 20%;
    flex-grow: 1;
    flex-shrink: 1/3;

    border: 1px solid $color--main__border;
  }

  figcaption {
    font-size: 12px;
    font-style: italic;
  }


  &__decorative-image {
    flex: 1/3;
    max-width:30%;
    max-height:100%;
  }
}
