.c_print-view {
  box-sizing: border-box;
  width: 21cm;
  max-width: 100%;
  padding: 2cm;
  background-color: white;


  // TEXT:
  &__paragraph {
    text-indent: 1cm;
    margin-top: 0;
    font-size: 12px;
    //flex: 1 100%;

    [data-level="4"] & {
      padding-left: 1.5cm;
    }
    [data-level="5"] & {
      padding-left: 2.5cm;
    }
  }

  // LISTS:
  &__list {
    text-indent: 1cm;
    margin-top: 0;
    //flex-basis: 70%;
    //flex-grow: 1;
    //flex-shrink: 1/2;
  }

  &__list-item {
    font-size: 12px;
    list-style-type: none;

    &::before {
      content: "-    ";
    }
  }

  // TITLES:

  &__main-title {
    margin-top: 0;
    font-style: $font-style--heading;
    font-size: $font-size--h1;
    font-family: $font-family--heading;
    font-weight: $font-weight--heading;
    text-align: center;
    //flex: 1 100%;
    //break-before: page;
    page-break-before: always;
    page-break-after: always;
    //break-after: avoid;
    counter-reset: h2counter;

    &__separator-before {
      border-width: 0.05cm 0 0;
      border-style: $border-style--subtle;
      margin-top: 0;
      transform: scale(0.6);
      color: $color--main__border;
    }

    &__separator-after {
      border-width: 0.05cm 0 0;
      border-style: $border-style--subtle;
      margin-top: 0;
      transform: scale(0.6);
      color: $color--main__border;
    }
  }

  &__section-title {
    text-align: center;
    font-style: $font-style--heading;
    font-size: $font-size--h2;
    font-family: $font-family--heading;
    font-weight: $font-weight--heading;
    //flex: 1 100%;
    break-before: page;
    page-break-before: always;
    page-break-after: avoid;
    counter-increment: h2counter;
    counter-reset: h3counter;
    margin-top: 2cm;
    margin-bottom: 1cm;
    &::before {
      content: counter(h2counter) " - ";
    }

    &__separator {
      border-width: 0.05cm 0 0;
      border-style: $border-style--subtle;
      margin-top: 0;
      transform: scale(0.3);
      color: $color--main__border;
    }
  }

  &__subsection-title {
    //flex: 1 100%;
    font-style: $font-style--heading;
    font-size: $font-size--h3;
    font-family: $font-family--heading;
    font-weight: $font-weight--heading;
    page-break-after: avoid;
    counter-increment: h3counter;
    counter-reset: h4counter;
    &::before {
      content: counter(h2counter) "." counter(h3counter) " -\0000a0";
    }
  }

  &__subsubsection-title {
    margin-top: 0;
    padding-left: 1cm;

    //flex: 1 100%;
    font-style: $font-style--heading;
    font-size: $font-size--h4;
    font-family: $font-family--heading;
    font-weight: $font-weight--heading;
    page-break-after: avoid;
    counter-reset: h5counter;
    counter-increment: h4counter;
    //&::before {
    //  content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) ".\0000a0\0000a0";
    //}
  }

  &__subsubsubsection-title {
    margin-top: 0;
    padding-left: 2cm;
    //flex: 1 100%;
    font-style: $font-style--heading;
    font-size: 14px;
    font-family: $font-family--heading;
    font-weight: bold;
    page-break-after: avoid;
    counter-increment: h5counter;
    //&::before {
    //  content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) ".\0000a0\0000a0";
    //}
  }


  // IMAGES:

  &__illustrative-image-and-text {
    margin: 0 auto; /* not needed unless you want centered */
    display: inline-block;
    border: $border-width--subtle $border-style--subtle $color--main__border;
    padding-left: 0;
    text-align: center;

    &__image {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }

  figcaption {
    font-size: 12px;
    font-style: italic;
  }

  &__illustrative-image-only {
    margin: 0 auto; /* not needed unless you want centered */
    border: $border-width--subtle $border-style--subtle $color--main__border;
    padding-left: 0;
    text-align: center;
    //flex-basis: 30%;
    //flex-grow: 0.66;
    //flex-shrink: 0.3;

    &__image-container {
      height: 5cm;
    }

    &__image {
      max-width: 100%;
      max-height: 100%;
      //object-fit: cover;
      margin: auto 0;
    }

  }

  &__illustrative-image-text-only {
    text-align: center;
    border: 1px solid $color--main__border;
  }


  &__decorative-image {
    margin: 10px auto;
    max-width: 30%;
    max-height: 100%;
  }
}

.image-single {
  box-sizing: border-box;
  max-width: 50%;
  min-width: 50%;
}

.image-double {
  box-sizing: border-box;
  max-width: 33%;
  min-width: 33%;
  height: 8cm;
}

.image-triple {
  box-sizing: border-box;
  max-width: 33%;
  min-width: 33%;
}

.image-quadruple {
  box-sizing: border-box;
  max-width: 25%;
  min-width: 25%;
}


@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }

  .c_print-view {
    &__main-title {
      font-size: 72px;
    }
  }
  .l_site__background {
    //overflow: visible;
    position: relative;
  }

}

@page {
  size: A4;
  margin: 0;
}