// ------------------------
// Deck navigator component
// ------------------------

.c_deck-navigator {
  &__list {
    padding: 0;
  }

  &__item {
    margin-top: $spacing--element__v;

    &__wrapper {
      // Fix weird extra spacing in list item bug in Chrome
      display: inline-block;
      width: 100%;
      vertical-align: top;
    }
  }

  &__button {
    display: block;
    width: 100%;
    padding-bottom: $spacing--element__v;
  }

  &__add-button {
    display: block;
    width: 100%;
  }

  .c_slide-container {
    vertical-align: middle;

    &__size {
      // #TODO better resizing system
      // font-size: 0.5vw;
    }
  }
}
