// ------------------------
// Deck navigator component
// ------------------------

.c_deck-navigator {
  &__list {
    padding: 0;
  }

  &__item {
    margin-top: $spacing--element__v;

    // Frame for position: absolute; on delete button.
    position: relative;

    &__wrapper {
      // Fix weird extra spacing in list item bug in Chrome
      display: inline-block;
      width: 100%;
      vertical-align: top;
    }
  }

  &__slide-button {
    display: block;
    width: 100%;
    padding-bottom: $spacing--element__v;
  }

  &__delete-button {
    padding: 0;

    // Position delete button on the top right corner of the slide button.
    position: absolute;
    top: 0;
    right: 0;

    &__wrapper {
      @include screenreaders-only;
    }
  }

  &__add-button {
    display: block;
    width: 100%;
  }

  .c_slide-container {
    vertical-align: middle;

    &__content {
      // Slide overlay prevents slides in the deck navigator from being interacted with.
      &::after {
        @include position-absolute-fill;

        content: '';
      }
    }
  }
}
