.c_feed-notifications-container {
  ol {
      list-style-type: none;
      padding-left: $spacing--small__h;
  }

  &__more-button {
    margin-top: 0.5em;
    padding: $spacing--small__h;
    font-size: xx-large;
    background-color: transparent;
    border: 1px solid $color--main__border;

    &:hover {
      background-color: $color--main__border;
    }
  }
}
