// ---------------------------
// Presentation view component
// ---------------------------


.c_presentation-view {
  .ows_slide-container {
    margin-top: 0;
    // height: 88vh; // temporarily make slide smaller than fullscreen so that pres. mode UI doesn't overlap it
    height: 100vh;
  }
  // Hide slide numbers in presentation view.
  .ows_slide::after {
    display: none;
  }
}
