// ----------------------
// Slide editor component
// ----------------------

.c_slide-editor {
  &__wrapper {
    // Use inkgrid to create gutter between items.
    @include inkgrid-row;
  }

  &__item {
    @include inkgrid-col;

    &--toolbar {
      float: left;

      // #TODO replace by actual toolbar component!
      button {
        display: block;
        width: 100%;
      }
    }

    &--views-panel {
      // Fill space next to float.
      display: block;

      // Don't wrap around float.
      overflow: hidden;
    }
  }
}
