// --------------------------
// Slide views pane component
// --------------------------

.c_slide-views-pane {
  &__views-list {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  &__views-item {
    display: table-cell;
    vertical-align: top;
  }
}
