// -------------------------
// Slide container component
// -------------------------

.c_slide-container {
  // #TODO should it always be white?
  background-color: white;

  // set these properties on container element because we do not want them to resize with the slide
  border: $border-width--subtle $border-style--subtle $color--main__text;
  margin-top: $spacing--element__v;

  // size to content
  display: inline-block;

  // set font-size on this in order to resize the slide
  &__size {
    // slide width when font-size is normal; i.e. slide size relative to text size
    width: 30em;

    // give slide a fixed ratio; all its contents need to be absolutely positioned for this to work
    padding-top: 66.7%;

    // container for position: absolute; on &__content
    position: relative;
  }

  &__content {
    @include position-absolute-fill;
    @include padding--x-small;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
