// -----------------------
// Switcher menu component
// -----------------------

.c_switcher-menu {
  &__list {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 0;
  }

  &__item {
    display: table-cell;
  }

  &__button {
    display: block;
    width: 100%;

    &__wrapper {
      opacity: 0.2;

      &::before {
        @include icon ($fa-var-file-o, $line-height--base * 1em);
      }
    }

    &.is_active .c_switcher-menu__button__wrapper {
      opacity: 1;
    }

    &--id_live .c_switcher-menu__button__wrapper::before {
      content: $fa-var-file-image-o;
    }

    &--id_content .c_switcher-menu__button__wrapper::before {
      content: $fa-var-file-code-o;
    }

    &--id_debug .c_switcher-menu__button__wrapper::before {
      content: $fa-var-bug;
    }
  }
}
