.c_deck-import-info{

  list-style-type:none;
  padding: 0.1em;

  &.is_queued{
    background: rgba(200,200,200,0.2);
  }
  &.is_success{
    background: rgba(0,200,0,0.2);
  }
  &.is_error{
    background: rgba(200,0,0,0.2);
  }
  &.is_pending{
    background: rgba(100,0,200,0.2);
  }
}