
// ----------------------------
// Core: accessibility features
// ----------------------------


    // 'Skip to main content' and 'Back to top' links that only become visible when they receive keyboard focus
    // so that keyboard & screenreader users don't have to tab through the entire nav menu on every page.

    .o_accessibility-link
    {
        // move links offscreen while they don't have focus
        // move them back onscreen when they receive focus

        $hidden-distance: -99999em;
        $visible-distance: 1em;

        padding: $spacing--x-small__v $spacing--x-small__h;
        position: fixed;

        &,
        &:hover,
        &:focus
        {
            // skip links should look the same on every theme
            // use !important to prevent overrides

            background-color: white !important;
            border: 1px solid lightgray !important;
            color: gray !important;
            text-decoration: none !important;
        }

        &--to-main
        {
            top: $hidden-distance;
            left: $hidden-distance;

            &:hover,
            &:focus
            {
                top: $visible-distance;
                left: $visible-distance;
            }
        }

        &--to-top
        {
            bottom: $hidden-distance;
            right: $hidden-distance;

            &:hover,
            &:focus
            {
                bottom: $visible-distance;
                right: $visible-distance;
            }
        }
    }