
// ----------------
// Core: typography
// ----------------


    // Set default typographic  styles for basic HTML elements.
    // Set single-direction vertical margins (top) on basic HTML elements.


    // General

        html
        {
            // In general, font-size should be smaller on smaller screens (which are usually held closer to the face)
            // and larger on large screens.
            @each $breakpoint, $font-size in $map--breakpoints_to_font-sizes
            {
                @include respond-to ($breakpoint)
                {
                    font-size: $font-size;
                }
            }
        }

        body
        {
            // Set default typography rules (word-wrap / etc.).
            @include typography--base;

            // Set default font properties (including rules for bolder / italic tags).
            @include font--base (true);

            // Set default sizes for larger / smaller tags.
            #{$SELECTORS-SMALL} { font-size: $font-size--smaller; }
            #{$SELECTORS-LARGE} { font-size: $font-size--larger; }
        }



    // Code & preformatted text

        #{$SELECTORS-MONOSPACE}
        {
            // Apply the monospace font from the settings to the appropriate elements
            // (including rules for bolder / italic tags).
            @include font--mono (true);
        }

        pre
        {
            // Override browser defaults & set single-direction top margins on preformatted text.
            margin: 0;
            margin-top: $spacing--element__v;

            // Give <pre> elements with long lines a scrollbar, instead of allowing them to break the layout.
            max-width: 100%;
            overflow: auto;
        }



    // Headings

        h1, h2, h3, h4, h5, h6
        {
            // Set default typography rules for headings (word-wrap / etc.).
            @include typography--heading;
            // Set default font properties for headings (including rules for bold / italic tags).
            @include font--heading (true);

            // Override browser defaults & set single-direction top margins on headings.
            margin: 0;
            margin-top: $spacing--heading__v;
        }

        // Set default font-sizes for different heading levels.
        h1 { font-size: $font-size--h1; }
        h2 { font-size: $font-size--h2; }
        h3 { font-size: $font-size--h3; }
        h4 { font-size: $font-size--h4; }
        h5 { font-size: $font-size--h5; }
        h6 { font-size: $font-size--h6; }



    // Paragraphs & text dividers

        p
        {
            // Override browser defaults & set single-direction top margins on paragraphs.
            margin: 0;
            margin-top: $spacing--element__v;
        }

        hr
        {
            //Override browser defaults & set single-direction top margins on hr elements.
            margin: 0;
            margin-top: $spacing--element__v;
        }



    // Lists

        ul, ol
        {
            // Override browser defaults & set single-direction top margins on lists.
            margin: 0;
            margin-top: $spacing--element__v;

            // Tie list indent to a variable for easy editing & reuse elsewhere.
            padding-left: $text-indent--list;
        }

        li ul,
        li ol
        {
            // Nested lists should not have extra spacing.
            margin-top: 0;
        }

        dl
        {
            // Override browser defaults & set single-direction top margins on description lists.
            margin: 0;
            margin-top: $spacing--element__v;
        }

        dd
        {
            // Set dd indent to be equal to list indent.
            margin-left: $text-indent--list;
        }



    // Quotes

        blockquote,
        q
        {
            // Set the default quote characters used for quotation tags.
            // (We use a variable so this can be easily changed for languages with different quote chars.)
            quotes: $quotes--default;
        }

        blockquote
        {
            // Override browser defaults & set single-direction top margins on blockquotes.
            margin: 0;
            margin-top: $spacing--element__v;

            // Tie blockquote indent to a variable for easy editing & reuse elsewhere.
            margin-right: $text-indent--quote;
            margin-left: $text-indent--quote;

            // Give blockquotes some extra breathing room.
            padding-top: $spacing--element__v;
            padding-bottom: $spacing--element__v;

            p:first-child
            {
                // We don't know if the blockquote content is wrapped in <p> tags, so we set a top margin on the
                // blockquote itself, and if there is a <p> tag inside, remove the top margin on that. This way we get
                // consistent spacing no matter what the contents of the blockquote are.
                margin-top: 0;
            }
        }

        q
        {
            // Set the <q> element to have quotes (defined in the 'quotes' property above) by default.
            &:before { content: open-quote; }
            &:after  { content: close-quote; }
        }



    // Media

        figure
        {
            // Override browser defaults & set single-direction top margins on figures.
            margin: 0;
            margin-top: $spacing--element__v;

            // Tie figure indent to a variable for easy editing & reuse elsewhere.
            margin-right: $text-indent--figure;
            margin-left: $text-indent--figure;

            // Give figures some extra breathing room.
            padding-top: $spacing--element__v;
            padding-bottom: $spacing--element__v;
        }

        img,
        figure,
        video,
        audio
        {
            // Prevent large media objects from breaking out of their container.
            max-width: 100%;
            // Preserve aspect ratio when resizing.
            height: auto;
        }



    // Tables

        table
        {
            // Override browser defaults & set single-direction top margins on tables.
            margin: 0;
            margin-top: $spacing--element__v;
        }

        .u_table-container
        {
            // Problem: wide tables might break the layout, and setting the overflow property directly on table doesn't
            // fix this issue. We should wrap tables in this class whenever possible.
            max-width: 100%;
            overflow: auto;
        }



    // Other

        address,
        details
        {
            // Override browser defaults & set single-direction top margins on these elements.
            margin: 0;
            margin-top: $spacing--element__v;
        }

        summary
        {
            // Change cursor on hover to indicate this element is clickable.
            cursor: pointer;
        }
