// ---------------------------------
// Overrides for framework variables
// ---------------------------------


// Fonts

  // Base font

    $font-family--base: 'Open Sans', sans-serif !default;
    $font-weight--base: 300 !default;
    $font-weight--base__strong: 400 !default;
    $font-weight--base__x-strong: 600 !default;
    $line-height--base: 1.8 !default;
    $line-height--base__small: $line-height--base / 1.2 !default;
    $line-height--base__large: $line-height--base * 1.2 !default;


  // Emphasis font

    $font-family--emphasis: 'Raleway', sans-serif !default;
    $font-weight--emphasis: 300 !default;
    $font-weight--emphasis__strong: 400 !default;
    $font-weight--emphasis__x-strong: 600 !default;
    $font-weight--emphasis__light: 100 !default;


  // Headings font

    // The font that is used for headings.

    $font-family--heading: $font-family--emphasis !default;
    $font-size--h1: 2.00em !default;
    $font-size--h2: 1.50em !default;
    $font-size--h3: 1.25em !default;
    $font-size--h4: 1.10em !default;
    $font-size--h5: 1.00em !default;
    $font-size--h6: 0.90em !default;
    $font-weight--heading: $font-weight--emphasis__strong !default;
    $font-weight--heading__strong: $font-weight--emphasis__x-strong !default;



// Vertical spacing

  // Base vertical spacing

    $spacing--base__v: $line-height--base * 1em !default;

    $spacing--xx-small__v: $spacing--base__v * (1/4) !default;
    $spacing--x-small__v: $spacing--base__v * (2/4) !default;
    $spacing--small__v: $spacing--base__v * (3/4) !default;
    $spacing--large__v: $spacing--base__v * (4/3) !default;
    $spacing--x-large__v: $spacing--base__v * (4/2) !default;
    $spacing--xx-large__v: $spacing--base__v * (4/1) !default;


  // Object vertical spacing

    $spacing--element__v: $spacing--x-small__v !default;
    $spacing--block__v: $spacing--base__v !default;
    $spacing--site__v: $spacing--xx-small__v !default;



// Horizontal spacing

  // Base horizontal spacing

    $spacing--base__h: $spacing--base__v !default;

    $spacing--xx-small__h: $spacing--base__h * (1/4) !default;
    $spacing--x-small__h: $spacing--base__h * (2/4) !default;
    $spacing--small__h: $spacing--base__h * (3/4) !default;
    $spacing--large__h: $spacing--base__h * (4/3) !default;
    $spacing--x-large__h: $spacing--base__h * (4/2) !default;
    $spacing--xx-large__h: $spacing--base__h * (4/4) !default;


  // Object horizontal spacing

    $spacing--element__h: $spacing--x-small__h !default;
    $spacing--block__h: $spacing--base__h !default;
    $spacing--site__h: $spacing--xx-small__h !default;



// Colors

  // Base colors

    // The background color of the main area of the site.
    $color--main: hsl(0, 0%, 100%) !default;
    // The text color of the main area of the site (which should be contrasting enough to make text readable).
    $color--contrast: hsl(197, 3%, 18%) !default;
    // Alternative background color, usually close to $color--main, used to softly emphasize some areas.
    $color--emphasis: hsl(0, 0%, 93%) !default;
    // Color / background color used to make certain text or areas stand out from their surroundings.
    $color--highlight: hsl(197, 71%, 73%) !default; // skyblue
    // Extra color used distinguish small areas or pieces of text (for example, links) from their surroundings.
    $color--accent: hsl(197, 55%, 51%) !default;
    // Extra color used to make elements stand out in the page.
    $color--special: hsl(55, 67, 80) !default; // palegoldenrod

    // Color used for info messages; indicates that everything went ok.
    $color--info: hsl(80, 80%, 75%) !default;
    // Color used for warning messages; indicates that a problem might have occurred.
    $color--warning: hsl(55, 80%, 75%) !default;
    // Color used for error messages; indicates that a problem has occurred that needs user attention.
    $color--error: hsl(25, 80%, 80%) !default;


  // Background & text colors

    $color--main__background: $color--main !default;
    $color--main__text: $color--contrast !default;
    $color--main__text-alt: shade($color--main, 40%) !default;
    $color--main__text-icon: shade($color--main, 10%) !default;
    $color--main__link: $color--accent !default;
    $color--main__link-hover: darken($color--accent, 10%) !default;
    $color--main__border: shade($color--main, 10%) !default;

    $color--emphasis__background: $color--emphasis !default;
    $color--emphasis__text: $color--contrast !default;
    $color--emphasis__text-alt: shade($color--emphasis, 35%) !default;
    $color--emphasis__text-icon: darken($color--emphasis, 10%) !default;
    $color--emphasis__link: lighten($color--highlight, 15%) !default;
    $color--emphasis__link-hover: $color--highlight !default;

    $color--contrast__background: $color--contrast !default;
    $color--contrast__text: $color--main !default;
    $color--contrast__text-alt: $color--special !default;
    $color--contrast__text-icon: $color--highlight !default;
    $color--contrast__link: $color--accent !default;
    $color--contrast__link-hover: $color--highlight !default;
    $color--contrast__border: tint($color--contrast, 10%) !default;



// Site layout settings

  $site__header-height: 8em !default;
  $site__item-padding__v: $spacing--base__v !default;
  $site__item-padding__h: $spacing--base__h !default;



// Slide rendering settings

  // The aspect ratio of the slide.
  // Note: slide ratio needs to be defined as a string in order to be able to use it in aspect ratio media queries.
  // Use convert-string-ratio-to-number($slide__ratio) when the number value is needed for calculations.
  $slide__ratio: '3/2' !default; // '16/9' !default;
  // The number of plain text lines that fit on a single slide and their line-height.
  // These numbers determine the height of a slide (at base font size). Slide width can then be calculated using
  // $slide__ratio.
  // Note: we calculate the height of a slide from the font-size / number of lines / line-height instead of the other
  // way around (calculating the font-size from a given height) because we will be resizing the slide to fit its
  // container anyway, making the 'actual' size of a slide irrelevant. By doing it this way, we only resize once
  // instead of twice, which simplifies things when rendering & debugging.
  $slide__number-of-plain-text-lines: 12 !default;
  $slide__base-line-height: $line-height--base !default;
