{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "no-console": "off",
    "no-unused-vars": "warn",

    /* Best practices */
    "class-methods-use-this": "warn",
    "default-case": "error",
    "dot-location": "error",
    "eqeqeq": "warn",
    "no-alert": "error",
    "no-empty-function": "warn",
    "no-eval": "warn",
    "no-self-compare": "warn",
    "no-unused-expressions": "warn",
    "no-useless-escape": "warn",
  }
}
