# Generate a secret using `rake secret`
SECRET_KEY_BASE=mysecretkeybase

# Maximum Rails threads and db pool size
#RAILS_MAX_THREADS=5

# Database
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=openwebslides
DB_USER=openwebslides
DB_PASS=openwebslides

# Sidekiq configuration
REDIS_URL=redis://redis.local:6379/

# GitHub OAuth application credentials
OWS_GITHUB_ID=mygithubid
OWS_GITHUB_SECRET=mygithubsecret

# Google OAuth application credentials
OWS_GOOGLE_ID=mygoogleid
OWS_GOOGLE_SECRET=mygooglesecret

# Facebook OAuth application credentials
OWS_FACEBOOK_ID=myfacebookid
OWS_FACEBOOK_SECRET=myfacebooksecret

# GitHub machine account credentials
OWS_REPO_USER_PASSPHRASE=mygithubpassword

# Private key passphrase
OWS_PRIVATE_KEY_PASSPHRASE=openwebslides

# API base URL (includes trailing slash)
API_URL=http://openwebslides.local/api/

# APP base URL (includes trailing slash)
APP_URL=http://openwebslides.local/

# Mailer
SMTP_FROM=app@openwebslides.local
SMTP_HOST=mailhost.com
SMTP_PORT=587
SMTP_DOMAIN=openwebslides.local
