# Docker compose name prefix
COMPOSE_PROJECT_NAME=openwebslides

# Generate a secret using `rake secret`
SECRET_KEY_BASE=mysecretkeybase

# Database
DB_HOST=postgresql
DB_PORT=5432
DB_DATABASE=openwebslides
DB_USER=openwebslides
DB_PASS=openwebslides
