# Docker compose name prefix
COMPOSE_PROJECT_NAME=openwebslides

# Generate a secret using `rake secret`
SECRET_KEY_BASE=mysecretkeybase

# Database
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=openwebslides
DB_USER=openwebslides
DB_PASS=openwebslides

# Private key passphrase
KEYFILE_PASSPHRASE=openwebslides

# GitHub OAuth application credentials
OAUTH_GITHUB_ID=mygithubid
OAUTH_GITHUB_SECRET=mygithubsecret

# Google OAuth application credentials
OAUTH_GOOGLE_ID=mygoogleid
OAUTH_GOOGLE_SECRET=mygooglesecret

# Facebook OAuth application credentials
OAUTH_FACEBOOK_ID=myfacebookid
OAUTH_FACEBOOK_SECRET=myfacebooksecret

# GitHub machine account credentials
GITHUB_ORGANIZATION=mygithuborg
GITHUB_MACHINE_USER=mygithubuser
GITHUB_MACHINE_PASSWORD=mygithubpassword
