// -----------------
// Theme base styles
// -----------------

.l_site__background {
  @include color--main (true, true);
}

a {
  // font-weight: bold; is set in _constants-override.scss
  text-decoration: none;
  transition: all $transition-duration--fast ease-in-out;
  transition-property: color;
}

// TODO: THIS IS TEMPORARY STYLING!!!!!!

#{$SELECTORS-WIDGET--BUTTON} {
  cursor: pointer;
}

$annotations-side-bar-width: 440px;
$annotations-side-bar-padding-left: 40px;
$annotations-side-bar-padding-right: 30px;
$annotations-side-bar-total-width:
        $annotations-side-bar-width + $annotations-side-bar-padding-left + $annotations-side-bar-padding-right;
$annotations-side-bar-visible-part-width: 10px;
$annotations-side-bar-shift: $annotations-side-bar-total-width - $annotations-side-bar-visible-part-width;

.annotations-side-bar {
  display: block;
  height: 100%;
  right: -$annotations-side-bar-shift;
  width: $annotations-side-bar-width;
  padding-left: $annotations-side-bar-padding-left;
  padding-right: $annotations-side-bar-padding-right;
  position: absolute;
  z-index: 2;
  top: 0;
  background-color: white;
  border-left: 2px solid $color--emphasis;
  overflow-x: hidden;
  transition: all ease 250ms;
  transition-property: transform, opacity;
  opacity: 0.75;
}

.annotations-side-bar.visible {
  transform: translate3d(-$annotations-side-bar-shift, 0, 0);
  -ms-transform: translate3d(-$annotations-side-bar-shift, 0, 0);
  -webkit-transform: translate3d(-$annotations-side-bar-shift, 0, 0);
  -o-transform: translate3d(-$annotations-side-bar-shift, 0, 0);
  -moz-transform: translate3d(-$annotations-side-bar-shift, 0, 0);
  opacity: 1;
}

.top40 {
  margin-top: 40px;
}

.form-section {
  margin-bottom: 10px;
}

.label-text {
  color: #4f555a;
  font-weight: 500;
}

.annotations-side-bar .close-btn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 25px;
  color: #bb787b;
  border: none;
  background-color: white;
  outline: none;
}

.annotations-side-bar .refresh-btn {
  position: absolute;
  top: 10px;
  right: 70px;
  font-size: 25px;  
  margin-left: 50px;
  color: #4f555a;
  margin-bottom: 30px;
  border: none;
  background-color: white;
  outline: none;
}

.annotations-side-bar .add-btn {
  font-size: 25px;
  color: #79c27f;
  border: none;
  background-color: white;
  outline: none;  
}

.annotations-side-bar .panel-title {
  margin-top: 70px;
  color: #4f555a;
}

.metadata {
  color: #4f555a;
  font-size: 13px;
}

.annotations-side-bar .overview-btn {
  position: absolute;
  top: 10px;
  font-size: 25px;
  right: 120px;
  margin-left: 50px;
  color: #4f555a;
  border: none;
  background-color: white;
  outline: none;
  
}

.send-btn {
  border: none;
  color: #4f555a;
  font-size: 18px;
  padding-right: 0;
  background-color: white;
  margin-right: 5px;
  outline: none;
}

.cancel-btn {
  border: none;
  color: #bb787b;
  font-size: 18px;
  padding-right: 0;
  background-color: white;
  outline: none;
}

.annotation-type {
  color: #4f555a;
  font-size: 20px;
  margin-right: 5px;
}

.margin-l5 {
  margin-left: 5px;
}

.conversation-title {
  font-size: 16px;
}

.rating {
  color: #4f555a;
  font-size: 20px;
  font-weight: 600;
}

.soft-color {
  color: #4f555a;
}

.margin-b15 {
  margin-bottom: 15px;
}

.delimiter {
  background-color: gainsboro;
  height: 1px;
  border: none;
  margin-bottom: 5px;
}

.no-margin {
  margin-top: 0;
}

.like-btn {
  border: none;
  color: #4f555a;
  font-size: 20px;
  padding-right: 0;
  background-color: white;
  outline: none;
}

.bold {
  font-weight: 'bold';
}

.del-btn {
  border: none;
  font-size: 20px;
  background-color: white;
  color: #bb787b;
  outline: none;
}

.golden {
  color: #e8bb74;
}

.annotations-side-bar .back-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  margin-left: 50px;
  color: #4f555a;
}

.annotations-side-bar .radio-label {
  display: block;

  .c_input-field,
  .label-text {
    display: inline-block;
  }

  .label-text {
    padding-left: 5px;
  }
}

.list-style-none {
  list-style-type: none;
}

.c_page-header__wrapper {
  background-color: white !important;
  border-bottom: 1px solid gainsboro;
  color: #4f555a !important;
}

.c_footer__wrapper {
  background-color: white !important;
  border-top: 1px solid gainsboro;
  color: #4f555a !important;
}

.o_logo--site .o_logo__link {
  color: #4f555a !important;
  text-shadow: none !important;
}

.o_logo--site .o_logo__item--open {
  text-transform: none !important;
}

.l_page .l_main__item__wrapper {
  background-color: white !important;
  border-bottom: 1px solid gainsboro;
}

.c_feed-container {
  color: #4f555a;
}

.c_feed-container h1 {
  margin-top: 0;
  font-size: 20px;
  font-weight: 500;
}

.c_user-collaborations--title {
  color: #4f555a;
}

.c_user-collaborations--title {
  margin-top: 0;
  font-size: 20px;
  font-weight: 500;
}

.c_own-decks-container__title {
  margin-top: 0;
  font-size: 20px;
  font-weight: 500;
  color: #4f555a;
}

.c_deck-thumbnail__deck-name {
  color: #4f555a;
  padding-left: 10px !important;
  font-weight: 400 !important;
}

.c_feed-notifications-container__more-button {
  color: #4f555a;
  padding: 7px !important;
  font-size: 16px !important;
  border-radius: 5px;
}

.feed-filter {
  background-color: white;
  color: #4f555a;
}

.deck-icon {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 7px;
  margin-top: 7px;
  font-size: 20px;
}

.deck-action-icon {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 7px;
  margin-top: 7px;
  font-size: 25px;
  color: #79c27f;
}

.deck-icon.delete-deck {
  color: #bb787b !important;
}

.c_presentation-view-toolbar {
  background-color: white !important;
  border-top: 1px solid gainsboro;
}

.c_presentation-view-toolbar__button {
  background-color: white;
  border-radius: 5px;
  border: 0;
  color: #4f555a;
  font-size: 20px;
}
