// -----------------
// Theme base styles
// -----------------

.l_site__background {
  @include color--main (true, true);
}

a {
  // font-weight: bold; is set in _constants-override.scss
  text-decoration: none;
  transition: all $transition-duration--fast ease-in-out;
  transition-property: color;
}

// TODO: THIS IS TEMPORARY STYLING!!!!!!

#{$SELECTORS-WIDGET--BUTTON} {
  cursor: pointer;
}

$annotations-side-bar-width: 440px;
$annotations-side-bar-padding-left: 40px;
$annotations-side-bar-padding-right: 30px;
$annotations-side-bar-total-width:
        $annotations-side-bar-width + $annotations-side-bar-padding-left + $annotations-side-bar-padding-right;
$annotations-side-bar-visible-part-width: 10px;
$annotations-side-bar-shift: $annotations-side-bar-total-width - $annotations-side-bar-visible-part-width;

.annotations-side-bar {
  display: block;
  height: 100%;
  right: -$annotations-side-bar-shift;
  width: $annotations-side-bar-width;
  padding-left: $annotations-side-bar-padding-left;
  padding-right: $annotations-side-bar-padding-right;
  position: absolute;
  z-index: 2;
  top: 0;
  background-color: white;
  border-left: 2px solid $color--emphasis;
  overflow-x: hidden;
  transition: all ease 250ms;
  transition-property: transform, opacity;
  opacity: 0.75;
}

.annotations-side-bar.visible {
  transform: translate3d(-$annotations-side-bar-shift, 0, 0);
  -ms-transform: translate3d(-$annotations-side-bar-shift, 0, 0);
  -webkit-transform: translate3d(-$annotations-side-bar-shift, 0, 0);
  -o-transform: translate3d(-$annotations-side-bar-shift, 0, 0);
  -moz-transform: translate3d(-$annotations-side-bar-shift, 0, 0);
  opacity: 1;
}

.annotations-side-bar .close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: black;
}

.annotations-side-bar .back-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  margin-left: 50px;
  color: black;
}

.annotations-side-bar .radio-label {
  display: block;

  .c_input-field,
  .label-text {
    display: inline-block;
  }

  .label-text {
    padding-left: 5px;
  }
}

.list-style-none {
  list-style-type: none;
}

.c_page-header__wrapper {
  background-color: white !important;
  border-bottom: 1px solid gainsboro;
  color: black !important;
}

.c_footer__wrapper {
  background-color: white !important;
  border-top: 1px solid gainsboro;
  color: black !important;
}

.o_logo--site .o_logo__link {
  color: #4f555a !important;
  text-shadow: none !important;
}

.o_logo--site .o_logo__item--open {
  text-transform: none !important;
}

.l_page .l_main__item__wrapper {
  background-color: white !important;
  border-bottom: 1px solid gainsboro;
}

.c_feed-container {
  color: #4f555a;
}

.c_feed-container h1 {
  margin-top: 0;
  font-size: 20px;
  font-weight: 500;
}

.c_own-decks-container__title {
  margin-top: 0;
  font-size: 20px;
  font-weight: 500;
  color: #4f555a;
}

.c_deck-thumbnail__deck-name {
  color: #4f555a;
  font-weight: 400 !important;
}

.c_feed-notifications-container__more-button {
  color: #4f555a;
  padding: 7px !important;
  font-size: 16px !important;
  border-radius: 5px;
}

.feed-filter {
  background-color: white;
  color: #4f555a;
}

.deck-icon {
  margin: 10px;
  font-size: 20px;
}

.deck-icon.delete-deck {
  color: #d65c61 !important;
}
