<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1>Hello <%= @user.first_name %>!</h1>
  <p>
    Thanks for joining Open Webslides! Please click the following link to activate your account:
  </p>
  <p>
    <%= link_to 'Confirm my account', auth_confirm_url(:confirmation_token => @user.confirmation_token) %>
  </p>
</body>
</html>
