
// ---------
// Base page
// ---------


    .l_page
    {
        $gutter__v: $spacing--site__v;
        $gutter__h: $spacing--site__h;

        &__wrapper
        {
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            min-height: 100vh;

            padding: 0 $gutter__h $gutter__v;
        }

        &__item
        {
            flex: 1 1 auto;

            &--header
            {
                @include box-style--subtle;

                flex-grow: 0;
                margin-top: $gutter__v;
            }

            &--main
            {
                margin-top: $gutter__v;
            }
        }
    }