
// ------------
// inkFlex Core
// ------------

    // Experimental flexbox grid system. Quickly hacked together & not properly tested yet!
    // These mxins are mainly used to establish gutters (because that's one grid system feature flexbox does not have
    // an easy-to-use property for). We should use flex properties directly for everything else.


    // inkFlex settings

        $inkflex__default-v-gutter:         1em !default;
        $inkflex__default-h-gutter:         true !default;
        $inkflex__snug-rows:                true !default;



    // inkFlex containers


        // ---------- // ---------- // ---------- // ---------- // ---------- //


        @mixin inkflex-container (
            $v-gutter: $inkflex__default-v-gutter,
            $h-gutter: $inkflex__default-h-gutter,
            $snug: $inkflex__snug-rows
        ) {
            display: flex;

            @include inkflex-container__gutter ($v-gutter, $h-gutter, $snug);
        }


        // ---------- // ---------- // ---------- // ---------- // ---------- //


        @mixin inkflex-container__gutter (
            $v-gutter: $inkflex__default-v-gutter,
            $h-gutter: $inkflex__default-h-gutter,
            $snug: $inkflex__snug-rows
        ) {
            // If $h-gutter equals true, set it to be equal to $v-gutter.
            @if $h-gutter == true { $h-gutter: $v-gutter; }

            // Only change the horizontal gutter if $h-gutter does not equal false.
            @if $h-gutter != false
            {
                // On snug rows, use negative margins to compensate for the padding on the columns.
                @if $snug == true
                {
                    margin-right: -$h-gutter / 2;
                    margin-left: -$h-gutter / 2;

                    // Undo possible previous $snug setting.
                    padding-right: 0;
                    padding-left: 0;
                }
                // On loose rows, add padding to create a full gutter at the edges.
                @else
                {
                    padding-right: $h-gutter / 2;
                    padding-left: $h-gutter / 2;

                    // Undo possible previous $snug setting.
                    margin-right: 0;
                    margin-left: 0;
                }
            }

            // Only change the vertical gutter if $v-gutter does not equal false.
            @if $v-gutter != false
            {
                // On snug rows, use a negative top margin to compensate for the top margin on the columns.
                // (Note that we're using single-direction vertical margins, which are easier to debug / maintain.)
                @if $snug == true
                {
                    margin-top: -$v-gutter;

                    // Undo possible previous $snug setting.
                    padding-bottom: 0;
                }
                // On loose rows, add extra padding to the bottom of the row to create a gutter there. Note that the
                // top gutter is handled by the margins on the columns.
                @else
                {
                    padding-bottom: $v-gutter;

                    // Undo possible previous $snug setting.
                    margin-top: 0;
                }
            }
        }


        // ---------- // ---------- // ---------- // ---------- // ---------- //



    // inkFlex items


        // ---------- // ---------- // ---------- // ---------- // ---------- //


        @mixin inkflex-item (
            $v-gutter: $inkflex__default-v-gutter,
            $h-gutter: $inkflex__default-h-gutter
        ) {
            // Set the gutter values.
            @include inkflex-item__gutter ($v-gutter, $h-gutter);
        }


        // ---------- // ---------- // ---------- // ---------- // ---------- //


        @mixin inkflex-item__gutter (
            $v-gutter: $inkflex__default-v-gutter,
            $h-gutter: $inkflex__default-h-gutter
        ) {
            // If $h-gutter equals true, set it to be equal to $v-gutter.
            @if $h-gutter == true { $h-gutter: $v-gutter; }

            // Only change the horizontal gutter if $h-gutter does not equal false.
            @if $h-gutter != false
            {
                // Set the margin on each side to half the gutter. (The other half will be provided by adjecent cols.)
                margin-left: $h-gutter / 2;
                margin-right: $h-gutter / 2;
            }

            // Only change the vertical gutter if $v-gutter does not equal false.
            @if $v-gutter != false
            {
                // We're using single direction vertical margins, so set the vertical gutter all at once.
                // (Note: the reason why we don't need to do this in the horizontal direction is that horizontal
                // margins can't collapse anyway, avoiding the problems multiple-direction margins can cause.)
                margin-top: $v-gutter;
            }
        }


        // ---------- // ---------- // ---------- // ---------- // ---------- //


        @mixin inkflex-item__passthrough ()
        {
            // Take full height & width of parent; 'ignore' this element when creating layout.
            // Usefull for wrapper divs.
            display: flex;
            flex-direction: row;
            flex: 1 1 auto;
        }


        // ---------- // ---------- // ---------- // ---------- // ---------- //
