
// ----------------
// Font-face mixins
// ----------------


    // ---------- // ---------- // ---------- // ---------- // ---------- //


    @mixin font-face ($font-family, $path, $filename, $svg-id)
    {
        $path-file: '#{$path}/#{$filename}';

        @font-face {
            font-family: $font-family;
            src: url('#{$path-file}.eot');
            src: url('#{$path-file}.eot?#iefix') format('embedded-opentype'),
            url('#{$path-file}.woff2') format('woff2'),
            url('#{$path-file}.woff') format('woff'),
            url('#{$path-file}.ttf') format('truetype'),
            url('#{$path-file}.svg##{$svg-id}') format('svg');
            // #TODO add options for different font-weight/styles
            font-weight: normal;
            font-style: normal;
        }
    }


    // ---------- // ---------- // ---------- // ---------- // ---------- //