
// ---------------------
// Core: utility classes
// ---------------------


    // #TODO add more


    // Whitespace

        .u_nowrap
        {
            max-width: 100%;
            overflow: auto;
            white-space: nowrap;
        }