
// ---------
// Base page
// ---------


    .l_page
    {
        &__wrapper
        {
            @include inkflex-container ($spacing--site__v, $spacing--site__h, false);

            flex-direction: column;

            box-sizing: border-box;
            min-height: 100vh;
        }

        &__item
        {
            @include inkflex-item ($spacing--site__v, $spacing--site__h);

            flex: 1 1 auto;

            &--header
            {
                @include box-style--subtle;

                flex-grow: 0;
            }
        }

        &__item--main,
        &__item--main .l_page__item__wrapper,
        .l_main,
        .l_main__wrapper
        {
            @include inkflex-item__passthrough;
        }

        .l_main
        {
            &__wrapper
            {
                @include inkflex-container ($spacing--site__v, $spacing--site__h);

                flex-direction: column;
            }

            &__item
            {
                @include inkflex-item ($spacing--site__v, $spacing--site__h);

                flex: 1 1 auto;
                display: flex;

                &__wrapper
                {
                    @include box-style--subtle;

                    flex: 1 1 auto;
                }
            }
        }
    }