// -----------------
// Print-mode for the decks
// -----------------
img{
  border: 1px solid black;
  padding: 20pt;
}

.o__print-view-image{
  text-indent: 10pt;
}

blockquote {
  font-size: xx-large;
}