
// --------------------
// Layout mixins: color
// --------------------


    // ---------- // ---------- // ---------- // ---------- // ---------- //


    @mixin color--main ($auto-variations: false, $variations-at-root: false)
    {
        background-color: $color--main__background;
        color: $color--main__text;

        @if $auto-variations == true
        {
            @if $variations-at-root == true
            {
                @at-root
                {
                    a
                    {
                        color: $color--main__link;

                        &:hover,
                        &:focus
                        {
                            color: $color--main__link-hover;
                        }
                    }
                }
            }
            @else
            {
                a
                {
                    color: $color--main__link;

                    &:hover,
                    &:focus
                    {
                        color: $color--main__link-hover;
                    }
                }
            }
        }
    }


    // ---------- // ---------- // ---------- // ---------- // ---------- //


    @mixin color--emphasis ($auto-variations: false)
    {
        background-color: $color--emphasis__background;
        color: $color--emphasis__text;

        @if $auto-variations == true
        {
            a
            {
                color: $color--emphasis__link;

                &:hover,
                &:focus
                {
                    color: $color--emphasis__link-hover;
                }
            }
        }
    }


    // ---------- // ---------- // ---------- // ---------- // ---------- //


    @mixin color--highlight ($auto-variations: false)
    {
        background-color: $color--highlight__background;
        color: $color--highlight__text;

        @if $auto-variations == true
        {
            a
            {
                color: $color--highlight__link;

                &:hover,
                &:focus
                {
                    color: $color--highlight__link-hover;
                }
            }
        }
    }


    // ---------- // ---------- // ---------- // ---------- // ---------- //


    @mixin color--accent ($auto-variations: false)
    {
        background-color: $color--accent__background;
        color: $color--accent__text;

        @if $auto-variations == true
        {
            a
            {
                color: $color--accent__link;

                &:hover,
                &:focus
                {
                    color: $color--accent__link-hover;
                }
            }
        }
    }


    // ---------- // ---------- // ---------- // ---------- // ---------- //


    @mixin color--contrast ($auto-variations: false)
    {
        background-color: $color--contrast__background;
        color: $color--contrast__text;

        @if $auto-variations == true
        {
            a
            {
                color: $color--contrast__link;

                &:hover,
                &:focus
                {
                    color: $color--contrast__link-hover;
                }
            }
        }
    }


    // ---------- // ---------- // ---------- // ---------- // ---------- //


    @mixin color--info ($auto-variations: false)
    {
        background-color: $color--info__background;
        color: $color--info__text;

        @if $auto-variations == true
        {
            a
            {
                color: $color--info__link;

                &:hover,
                &:focus
                {
                    color: $color--info__link-hover;
                }
            }
        }
    }


    // ---------- // ---------- // ---------- // ---------- // ---------- //


    @mixin color--warning ($auto-variations: false)
    {
        background-color: $color--warning__background;
        color: $color--warning__text;

        @if $auto-variations == true
        {
            a
            {
                color: $color--warning__link;

                &:hover,
                &:focus
                {
                    color: $color--warning__link-hover;
                }
            }
        }
    }


    // ---------- // ---------- // ---------- // ---------- // ---------- //


    @mixin color--error ($auto-variations: false)
    {
        background-color: $color--error__background;
        color: $color--error__text;

        @if $auto-variations == true
        {
            a
            {
                color: $color--error__link;

                &:hover,
                &:focus
                {
                    color: $color--error__link-hover;
                }
            }
        }
    }


    // ---------- // ---------- // ---------- // ---------- // ---------- //