// -------------------------
// OpenWebslide slide styles
// -------------------------

.ows_slide {
  $slide-color--main: white;
  $slide-color--highlight: #1e64c8;
  $slide-color--accent: #ffd200;

  $slide-padding__v: $spacing--x-small__v;
  $slide-padding__h: $spacing--x-small__h;

  $heading-base-font-size: 1.4em;
  $subsection-scaling-factor: 0.8em;
  $subsection-indent: $line-height--base * 1em;

  $list-bullet-size: 1em;
  $list-bullet-spacing: $spacing--line__h;

  background-color: $slide-color--main;
  border: $border-width--subtle $border-style--subtle shade(white, 20%);

  // Make sure default text-align is 'left' no matter the text-align of the containing element.
  text-align: left;

  // Take height from container.
  height: 100%;

  // Frame for absolutely positioned children.
  position: relative;

  // UGent logo in background.
  &::before {
    $ratio: 100 / 76.4;
    $width: 4em;
    $spacing: 1em;

    content: '';
    position: absolute;
    right: $spacing;
    bottom: $spacing;
    width: $width;
    padding-top: $width / $ratio;

    // Logo image.
    background-image: url("#{$setting--image-path}/logo/ugent.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    // Make image slightly transparent.
    opacity: 0.3;
  }

  // Slide number
  &::after {
    $font-size: 0.6em;
    // Fit slide number in open space left by slide padding.
    $spacing__v: scale-length-to-font-size(($slide-padding__v - $font-size) / 2, $font-size);
    $spacing__h: scale-length-to-font-size($slide-padding__h, $font-size);

    content: attr(data-slide-position) "/" attr(data-slide-count);

    position: absolute;
    bottom: 0;
    left: $spacing__h;
    right: $spacing__h;

    font-size: $font-size;
    line-height: 1em;
    padding: $spacing__v 0;
    text-align: center;

    background-color: $slide-color--main;
    color: $slide-color--highlight;
    font-weight: $font-weight--base__x-strong;
  }

  &__overflow {
    height: 100%;
    overflow: auto;

    // Position slide content on top of the UGent logo in the bottom right corner.
    position: relative;
  }

  &__wrapper {
    @include padding($slide-padding__v, $slide-padding__h);
  }

  a[href] {
    color: $slide-color--highlight;
    font-weight: inherit;
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  // Necessary because slides might be nested inside another list, which unsets the top margin.
  ul, ol, menu {
    margin-top: $spacing--element__v;
    padding-left: 0;
  }

  li {
    list-style: none;
    padding-left: $text-indent--list;

    // Frame for position: absolute; on list bullets.
    position: relative;

    &::before {
      color: $slide-color--highlight;
      opacity: 0.66;

      // Size.
      height: $list-bullet-size;
      line-height: $list-bullet-size;
      width: $list-bullet-size;

      // Position.
      position: absolute;
      left: $text-indent--list - $list-bullet-size - $list-bullet-spacing;
      top: ($line-height--base * 1em - $list-bullet-size) / 2;
      text-align: center;
    }
  }

  ul li {
    &::before {
      content: '\25CF\00A0';
    }
  }

  ol {
    counter-reset: ol;

    li {
      &::before {
        @include font--mono;

        // Override line-height set by font-mono.
        line-height: $list-bullet-size;

        // Ol numbers.
        content: counter(ol) '.';
        counter-increment: ol;
      }
    }
  }

  p, // #TODO ?
  li {
    @include wrap-line-height(1.5);
  }

  img {
    margin-top: $spacing--element__v;
  }

  figure {
    text-align: center;

    img:first-child {
      margin-top: 0;
    }

    figcaption {
      @include wrap-line-height(1.2em);

      font-size: 0.6em;
    }
  }

  iframe {
    border: 0;
    margin-top: $spacing--element__v;
    height: 19em; // #TODO
    width: 100%;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $slide-color--highlight;
    font-size: $heading-base-font-size;
    font-weight: $font-weight--heading__strong;
    margin-top: $spacing--element__v / $heading-base-font-size * 1em;

    #{$SELECTORS-STRONG} {
      font-weight: $font-weight--heading__x-strong;
    }

    & + section {
      &,
      & ~ section {
        // #TODO deeper nesting?
        padding-left: $subsection-indent;
      }
    }

    & + .ows_iframe .ows_iframe__widget {
      height: 15em; // #TODO
    }
  }

  section section {
    font-size: $subsection-scaling-factor;
  }

  .ows_image-container {
    $spacing__v: $spacing--element__v;
    $spacing__h: $spacing--element__h;

    overflow: hidden;
    // Makes sure images are visible and not unreasonable small even if there is too much other content on the slide.
    min-height: 5em;
    // We need this to make sure that the child elements take this element's height (doesn't work with only min-height).
    height: 5em;

    &__wrapper {
      @include inkgrid-row($v-gutter: $spacing__v, $h-gutter: $spacing__h);

      height: 100%;

      // Allow column margins to affect the row.
      margin-top: 0;
    }

    .ows_pass-through {
      display: block;
      height: 100%;
    }

    .ows_illustrative-image,
    .ows_decorative-image {
      @include inkgrid-col($v-gutter: $spacing__v, $h-gutter: $spacing__h);
      @include inkgrid-col__v-align(middle);

      text-align: center;

      // Make sure to take column margins into account when calculating the height.
      height: calc(100% - #{$spacing__v});

      &__wrapper {
        display: flex;
        flex-direction: column;

        height: 100%;

        // Undo default figure styles.
        margin: 0;
        padding: 0;
      }

      &__background {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;

        display: block;
        flex-grow: 1;
      }

      &__image {
        // Visible image is background-image on .ows_[type]-image__wrapper (which allows us to crop / contain it).
        @include screenreaders-only;
      }
    }

    @for $i from 1 through 20 {
      &--children-count-#{$i} .ows_illustrative-image {
        @include inkgrid-col__parts($i);
      }
    }

    .ows_decorative-image {
      @include inkgrid-col__parts(1);
    }
  }

  .ows_editable-wrapper {
    // Frame for position: absolute; on button.
    position: relative;

    // Put border on separate, absolutely positioned element, so that it does not effect element size.
    &::before {
      @include position-absolute-fill;

      border: 1px solid transparent;
      content: '';
    }

    &:hover::before {
      border-color: lightgray;
    }

    &.has_focus {
      background-color: shade(white, 5%);
      outline: 0;

      &::before {
        border-color: blue;
      }

      .ows_editable-wrapper-delete-button {
        opacity: 1;
      }
    }
  }

  .ows_editable-wrapper-delete-button {
    opacity: 0;

    position: absolute;
    top: 0;
    right: 0;

    &::before {
      @include icon($fa-var-trash);
    }

    &-wrapper {
      @include screenreaders-only;
    }
  }

  // Hide elements that have a data-view-type attribute with a value different from 'live'.
  [data-view-type]:not([data-view-type='live']) {
    // #TODO prevent these from rendering rather than hiding them with CSS
    display: none;
  }
}
