
// ----------------------
// Layout mixins: padding
// ----------------------


    // ---------- // ---------- // ---------- // ---------- // ---------- //


    @mixin padding ($spacing__v, $spacing__h, $spacing--element__v: $spacing--element__v)
    {
        padding: $spacing__v $spacing__h;

        @if ($spacing__v > $spacing--element__v)
        {
            padding-top: $spacing__v - $spacing--element__v;
        }
        @else
        {
            padding-top: 0;
        }
    }

        @mixin padding--base ($vertical: true, $horizontal: true)
        {
            $spacing__v: if($vertical   == true, $spacing--base__v, 0);
            $spacing__h: if($horizontal == true, $spacing--base__h, 0);

            @include padding ($spacing__v, $spacing__h);
        }

        @mixin padding--xx-small ($vertical: true, $horizontal: true)
        {
            $spacing__v: if($vertical   == true, $spacing--xx-small__v, 0);
            $spacing__h: if($horizontal == true, $spacing--xx-small__h, 0);

            @include padding ($spacing__v, $spacing__h);
        }

        @mixin padding--x-small ($vertical: true, $horizontal: true)
        {
            $spacing__v: if($vertical   == true, $spacing--x-small__v, 0);
            $spacing__h: if($horizontal == true, $spacing--x-small__h, 0);

            @include padding ($spacing__v, $spacing__h);
        }

        @mixin padding--small ($vertical: true, $horizontal: true)
        {
            $spacing__v: if($vertical   == true, $spacing--small__v, 0);
            $spacing__h: if($horizontal == true, $spacing--small__h, 0);

            @include padding ($spacing__v, $spacing__h);
        }

        @mixin padding--large ($vertical: true, $horizontal: true)
        {
            $spacing__v: if($vertical   == true, $spacing--large__v, 0);
            $spacing__h: if($horizontal == true, $spacing--large__h, 0);

            @include padding ($spacing__v, $spacing__h);
        }

        @mixin padding--x-large ($vertical: true, $horizontal: true)
        {
            $spacing__v: if($vertical   == true, $spacing--x-large__v, 0);
            $spacing__h: if($horizontal == true, $spacing--x-large__h, 0);

            @include padding ($spacing__v, $spacing__h);
        }

        @mixin padding--xx-large ($vertical: true, $horizontal: true)
        {
            $spacing__v: if($vertical   == true, $spacing--xx-large__v, 0);
            $spacing__h: if($horizontal == true, $spacing--xx-large__h, 0);

            @include padding ($spacing__v, $spacing__h);
        }


    // ---------- // ---------- // ---------- // ---------- // ---------- //