<!doctype HTML>
<html>
  <head>
    <%= stylesheet_link_tag *webpack_asset_paths('application', extension: 'css') %>
  </head>
  <body class="site">
    <div class="l_site__background">
      <div class="l_site__wrapper">
        <div id="react-container"></div>
      </div>
    </div>
    <%= javascript_include_tag *webpack_asset_paths("application") %>
  </body>
</html>
