<!doctype HTML>
<html>
  <head>
    <%= stylesheet_link_tag *webpack_asset_paths('application', extension: 'css') %>
  </head>
  <body>
    <div id='main'></div>
    <%= javascript_include_tag *webpack_asset_paths("application") %>
  </body>
</html>
