// -------------------------
// Full viewport page layout
// -------------------------

.l_page--full-viewport {
  .l_page__item {
    &--main {
      // Set the extra spacing on the main items instead, to allow them to have 100% height layout.
      padding-top: 0;
    }
  }

  .l_main {
    @include inkgrid-row (false, false);

    &__item {
      @include inkgrid-col (false, false);
      @include inkgrid-col__parts (1);

      // Vertically fill the viewport.
      height: 100vh;
      // Leave some space for the header.
      padding-top: $site__header-height;
      // Padding shouldn't influence total height.
      box-sizing: border-box;

      // Display items next to each other; determine width based on amount of siblings.
      // Note: this is just setting a sensible default; most pages will need custom widths for their main items.
      @for $i from 1 through 5 { // Up to five siblings are supported; increase this number if more are necessary.
        &:first-child:nth-last-child(#{$i}),
        &:first-child:nth-last-child(#{$i}) ~ .l_main__item {
          @include inkgrid-col__parts ($i);
        }
      }
    }
  }
}
